<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width-device-width, initial-scale=1.0">
        <title>All Products - Iris | E-comercial website</title>
        <link rel="stylesheet" href="/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">  
        <script src="https://kit.fontawesome.com/c6dd655b14.js" crossorigin="anonymous"></script>
    </head>
<body>
    <!-------------navigation bar-------------->
    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <a href="/"><img src="/images/logo.png" width="125px"></a>
                </div>
                <nav>
                    <ul id="MenuItems">
                        <li><a href="/">Home</a></li>
                        <li><a href="product">Products</a></li>
                        <li><a href="about">About</a></li>
                        <li><a href="account">Account</a></li>
                    </ul>
                </nav>
                <a href="cart"><img src="/images/cart.png" width="30px" height="30px"></a>
                <img src="/images/menu.png" class="menu-icon" onclick="menutoggle()">
            </div>
            <div class="row">
                <div class="col-2">
                    <h1>Give Your Dress<br>A new Style!</h1>
                    <p>Fashion you can buy, but style you possess. The key to style is<br> learning who you are, which takes years. There's no how-to road<br> map to style. It's about self expression and, above all, attitude</p>
                    <a href="" class="btn">Explore Now &#8594;</a>
                </div>
                <div class="col-2">
                    <img src="/images/image1.png">
                </div>
            </div>
        </div>
    </div>
<!--------- featured categories-------------->
    
<div class="categories">
    <div class="small-container">     
        <div class="row">
            <div class="col-3">
                <a href="product"><img src="/images/category-1.jpg"></a>
            </div>
            <div class="col-3">
                <a href="product"><img src="/images/category-2.jpg"></a>
            </div>
            <div class="col-3">
                <a href="product"><img src="/images/category-3.jpg"></a>
            </div>
        </div>
    </div>        
</div>
<!--------- featured products--------------->
    
<div class="small-container">
    <h2 class="title">Featured Products</h2>
    <div class="row">
         <div class="col-4">
            <a href="productDetail"><img src="/images/product-1.jpg"></a>
            <h4>Maroon Solid Shoulder Bag</h4>
            <div class="rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
            </div>
            <p>$50.00</p>
        </div>
         <div class="col-4">
            <a href="productDetail"><img src="/images/product-2.jpg"></a>
            <h4>Geometric Printed Tote Bag</h4>
            <div class="rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star-half-stroke"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
            </div>
            <p>$50.00</p>
        </div>
         <div class="col-4">
            <a href="productDetail"><img src="/images/product-3.jpg"></a>
            <h4>Black Textured Tote Bag</h4>
            <div class="rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star-half-stroke"></i>
                <i class="fa-regular fa-star"></i>
            </div>
            <p>$50.00</p>
        </div>
         <div class="col-4">
            <a href="productDetail"><img src="/images/product-4.jpg"></a>
            <h4>Burgundy Solid Shoulder Bag</h4>
            <div class="rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
            </div>
            <p>$50.00</p>
        </div>
    </div>
    
<!-------Latest Products------------------------------>
    
    <h2 class="title">Latest Products</h2>
    <div class="row">
         <div class="col-4">
            <a href="productDetail"><img src="/images/product-5.jpg"></a>
            <h4>Knit midi dress</h4>
            <div class="rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
            </div>
            <p>$50.00</p>
        </div>
         <div class="col-4">
            <a href="productDetail"><img src="/images/product-6.jpg"></a>
            <h4>Long lurex dress</h4>
            <div class="rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star-half-stroke"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
            </div>
            <p>$50.00</p>
        </div>
         <div class="col-4">
            <a href="productDetail"><img src="/images/product-7.jpg"></a>
            <h4>Satin dress with knot</h4>
            <div class="rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star-half-stroke"></i>
                <i class="fa-regular fa-star"></i>
            </div>
            <p>$50.00</p>
        </div>
         <div class="col-4">
            <a href="productDetail"><img src="/images/product-8.jpg"></a>
            <h4>Bow shirt dress</h4>
            <div class="rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
            </div>
            <p>$50.00</p>
        </div>
    </div>
    
    <div class="row">
         <div class="col-4">
            <a href="productDetail"><img src="/images/product-9.jpg"></a>
            <h4>Textured knit cardigan</h4>
            <div class="rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
            </div>
            <p>$50.00</p>
        </div>
         <div class="col-4">
            <a href="productDetail"><img src="/images/product-10.jpg"></a>
            <h4>Double-sided leather blazer</h4>
            <div class="rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star-half-stroke"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
            </div>
            <p>$50.00</p>
        </div>
         <div class="col-4">
            <a href="productDetail"><img src="/images/product-11.jpg"></a>
            <h4>Striped jersey dress</h4>
            <div class="rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star-half-stroke"></i>
                <i class="fa-regular fa-star"></i>
            </div>
            <p>$50.00</p>
        </div>
         <div class="col-4">
            <a href="productDetail"><img src="/images/product-12.jpg"></a>
            <h4>Faux shearling-lined jacket</h4>
            <div class="rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
            </div>
            <p>$50.00</p>
        </div>
    </div>
</div>
<!----------------offer---------------------->
    
<div class="offer">
    <div class="small-container">
        <div class="row">
            <div class="col-2">
                <img src="/images/exclusive.png" class="offer-img">
            </div>
            <div class="col-2">
                <p>Exclusively Available on Iris</p>
                <h1>Yves Saint Laurent</h1>
                <small>The YSL Blue Leather Handbag features two main compartments and an inner zip pocket. It is defined by its leather tab.<br></small>
                <a href="" class="btn">Buy Now &#8594</a>
            </div>
        </div>
    </div>
</div>

<!---------------------testimonial--------------->
<div class="testimonial">
    <div class="small-container">
        <div class="row">
            <div class="col-3">
                <i class="fa fa-quote-left"></i>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque fugiat nostrum perspiciatis, ducimus delectus id alias officiis nisi, eveniet accusamus enim mollitia voluptates, reiciendis laudantium nulla aliquam assumenda. Tempora, odio?</p>
                <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </div>
                <img src="/images/user-1.png">
                <h3>Sean Parker</h3>
            </div>
            <div class="col-3">
                <i class="fa fa-quote-left"></i>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque fugiat nostrum perspiciatis, ducimus delectus id alias officiis nisi, eveniet accusamus enim mollitia voluptates, reiciendis laudantium nulla aliquam assumenda. Tempora, odio?</p>
                <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <img src="/images/user-2.png">
                <h3>Peter Parker</h3>
            </div>
            <div class="col-3">
                <i class="fa fa-quote-left"></i>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque fugiat nostrum perspiciatis, ducimus delectus id alias officiis nisi, eveniet accusamus enim mollitia voluptates, reiciendis laudantium nulla aliquam assumenda. Tempora, odio?</p>
                <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <img src="/images/user-3.png">
                <h3>Emma Parker</h3>
            </div>
        </div>
    </div>
</div>
    
<!-----------------------footer--------------->
<div class="footer">
    <div class="row">
        <div class="footer-col-1">
            <h3>Download Our App</h3>
            <p>Download App for Android and iso mobile phone.</p>
            <div class="app-logo">
                <img src="/images/play-store.png">
                <img src="/images/app-store.png">
            </div>
        </div>
        <div class="footer-col-2">
            <img src="/images/logo-white.png">
        </div>
        <div class="footer-col-3">
            <h3>Useful Link</h3>
            <ul>
                <li>Coupons</li>
                <li>Blog Post</li>
                <li>Return Policy</li>
                <li>Join Affiliate</li>
            </ul>
        </div>
        <div class="footer-col-4">
            <h3>Follow us</h3>
                <a href="https://www.instagram.com/iris_collection___/" target="_blank" class="card-instagram">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="https://www.facebook.com/profile.php?id=100027452152145" target="_blank" class="card-facebook">
                    <i class="fab fa-facebook"></i>
                </a>
                <a href="https://l.instagram.com/?u=http%3A%2F%2Fwa.me%2F994508097005&e=AT2u--2DLjFbs6J2U6xm8QnxxWf7-P7LfFtGyzBC5dQcoVZVqDQ59Z53qPhszsYg-zBWI2f5z1sQ9Ju_-i6dC8gN3zQTS4oDOPVoT1I" target="_blank" class="card-whatsapp">
                    <i class="fab fa-whatsapp"></i>
                </a>
                <a href="https://www.instagram.com/ir_is_nizami_/" target="_blank" class="card-twitter">
                    <i class="fab fa-twitter"></i>
                </a>
        </div>         
    </div>
    <hr>
    <p class="copyright">Copyright 2021 - RaveN</p>
</div>


<!------------------------js  for toggle Menu---------->

<script src="/js/index.js"></script>   
</body>
</html>